.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8rem 3rem 0;
}

.login-form > h2 {
  color: orange;
}

.login-form-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 500px) {
  .login-form-footer {
    align-items: flex-start;
    flex-direction: column;
  }
  .login-form-footer a {
    padding-top: 1em;
  }
}
