.products {
  height: 100%;
  background-color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1.3rem;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Roboto', sans-serif;
}

.products h1 {
  font-family: 'Roboto', sans-serif;
  padding-top: 50px;
  font-size: 5rem;
}

.products h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
}

.product {
  padding-top: 70px;
  padding-bottom: 50px;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 90%;
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.product-image {
  width: 25%;
}

.product-image img {
  width: 100%;
}

.product:nth-child(odd) {
  padding-top: 70px;
  padding-bottom: 50px;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 90%;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
}

.product-text {
  width: 40%;
}

@media (max-width: 900px) {
  .products {
    padding-left: 10px;
    padding-right: 10px;
  }
  .products h1 {
    text-align: center;
    font-size: 4rem;
    padding-bottom: 5rem;
  }
  .products h2 {
    padding-top: 0;
  }

  .product {
    flex-direction: column;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 6rem;
  }

  .product:nth-child(odd) {
    flex-direction: column;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 3rem;
  }

  .product-text {
    padding-bottom: 4rem;
    width: 100%;
  }

  .product-image {
    width: 80%;
  }

  .product-image img {
    width: 100%;
  }
}
