.profile {
  margin-top: 140px;
  height: calc(100vh - 140px);
  background-color: #b6b6b6;
  align-items: stretch;
  display: flex;
  flex-direction: column;
}

.profile-usercard {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-grow: 1;
}

.profile-licences {
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.user {
  height: 100%;
  display: flex;
}
