.profile {
  margin-top: 140px;
  height: 100%;
  background-color: #b6b6b6;
  align-items: stretch;
  display: flex;
  flex-direction: column;
}

.profile-usercard {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-grow: 1;
}

.profile-licences {
  justify-content: center;
  flex-grow: 1;
  align-items: left;
  display: flex;
  flex-direction: column;
}

.card-description {
  font-size: 2.5em;
}

.user {
  height: calc(100vh - 140px);
  display: flex;
}

@media (max-width: 900px) {
  .profile-licences {
    align-items: center;
  }

  .profile-usercard {
    padding-top: 3em;
    padding-bottom: 3em;
  }

  .user {
    flex-direction: column;
  }
  .card-description {
    font-size: 2.2em;
  }
}
