.team {
  background-color: white;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  display: flex;
  font-size: 1.4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Roboto', sans-serif;
}

.team-info h2 {
  font-family: 'Roboto', sans-serif;
  padding-top: 50px;
  font-size: 5rem;
}

.team-info {
  text-align: center;
  height: 90%;
  width: 100%;
}

.team-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.team-img img {
  display: block;
  width: 40%;
}

@media (max-width: 900px) {
  .team {
    flex-direction: column;
  }

  .team-img {
    padding-top: 5rem;
    width: 100%;
  }
}
