.team {
  background-color: white;
  width: 100%;
  justify-content: center;
  align-items: stretch;
  display: flex;
  flex-direction: row-reverse;
  font-size: 1.6em;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 90px;
  padding-bottom: 90px;
  text-align: center;
}

.team-text h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 4rem;
  padding-bottom: 3rem;
}

.team-text ul li p {
  text-align: left;
  width: 90%;
}

.team-text ul li {
  list-style-type: circle;
}

.team-text {
  width: 100%;
  align-items: center;
}

.team-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.team-img img {
  display: block;
  width: 30%;
}

@media (max-width: 900px) {
  .team {
    font-size: 15px;
    height: 100%;
    flex-direction: column;
    justify-content: center;
  }

  .team-img {
    padding-top: 5rem;
    width: 100%;
  }
}
